# Ignore everything
*

# But not these files...
!.gitignore
!*.cpp
!*.hpp
!*.ps1
!*.sh
!.vscode/*
!1output

# ...even if they are in subdirectories
!*/

# oh, shi* documentation too
!*.md
