# Ignore everything
*

# But not these files...
!.gitignore
!*.cpp
!*.hpp
!*.ps1
!*.sh
!.vscode/*
!1output
!makefile

# ...even if they are in subdirectories
!*/

# oh, shi* documentation too
!*.md
